.DS_Store
# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.so

# PyInstaller
dist/
build/
*.spec
*.pyz
*.pkg
*.toc
*.zip
*.pyd
*.dylib
*.html
*_archive.py

# Qt + Binary libs
*_internal/
*.abi*
*.dylib
